apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ceph
resources:
  - ceph_external.yaml
  - ceph_storageclass.yaml
  - create_secrets.yaml
helmCharts:
  - name: rook-ceph
    releaseName: rook-ceph
    repo: https://charts.rook.io/release
    version: v1.18.7
    valuesFile: rook_values.yaml
