extraArgs:
  - -config.expand-env

containerSecurityContext:
  capabilities:
    add:
      - DAC_READ_SEARCH

extraVolumes:
  - name: audit-logs
    hostPath:
      path: /var/log/audit/kube
extraVolumeMounts:
  - name: audit-logs
    mountPath: /var/log/audit/kube
    readOnly: true

config:
  clients:
    - url: http://loki.fmt2.generalprogramming.org/loki/api/v1/push
